/* Box sizing rules */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default margin */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
  line-height: 1em;
}

/* Set core root defaults */
html {
  font-size: 10px;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-size: 1.6rem;
  font-family: "Red Hat Display", sans-serif;
  background: hsl(225, 100%, 98%);
}

/* Remove  smooth scroll for people that prefer not to see it */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
  }
}

/* Main and Card */
main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 32.8rem;
  min-height: 56.7rem;
  border-radius: 1.2rem;
  text-align: center;
  background: url(images/illustration-hero.svg) no-repeat top/32.8rem 16rem,
    #fff;
  box-shadow: 14px 16px 16px rgba(114, 128, 167, 0.1); /* unsaturated blue */
}

h1 {
  margin-top: calc(16rem + 11.59%); /* illustration height + ~38px */
}

p,
.info span,
.cancel {
  color: hsl(224, 23%, 55%);
}

p {
  margin: 7.32% 12.8%;
  line-height: 1.5;
}

h2 {
  font-size: 1em;
}

.plan {
  display: flex;
  align-items: center;
  margin: calc(9.76% - 1.4rem - 7.32%) auto 7.32%;
  justify-content: space-between;
  background: url(images/icon-music.svg) no-repeat 7.32% center,
    hsl(225, 100%, 98%);
  padding: 7.32%;
  width: 85.37%;
  border-radius: 1.2rem;
  font-size: 1.4rem;
}

.info {
  padding-left: calc(4.8rem + 5.03%);
}

/* Buttons */
.change:hover,
.proceed:hover,
.cancel:hover {
  cursor: pointer;
}

.change {
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
}

.change:hover {
  color: hsl(245, 83%, 68%);
}

.proceed {
  color: white;
  background: hsl(245, 75%, 52%);
  width: 85.37%;
  margin: 0 auto 8.54%;
  padding: 2rem 0;
  border-radius: 1rem;
  box-shadow: 0 22px 16px rgba(114, 128, 167, 0.2);
}

.proceed:hover {
  background: hsl(245, 83%, 68%);
}

.cancel {
  width: max-content;
  margin: 0 auto;
  font-weight: bold;
}
